div.App {
  background-color: #eee7d7;
  min-height: 1000px;
  color: #143420;
  padding-bottom: 20px;
}
div.benefitsContainer {
  display: flex;
  width: 95%;
  margin: 0 auto;
  flex-wrap: wrap;
}
div.serviceOptionsContainer {
  display: flex;
  width: 90%;
  margin: 0 auto;
  flex-wrap: wrap;
}
h2.serviceOptionTitle {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  margin-top: 40px ;
  text-shadow: 0px 7px 10px rgba(0,0,0,0.45);
}
div#inviteFriendsDiv {
  width: 90%;
  padding: 50px 0;
  text-align: center;
  color: #143420;
  margin: 0 auto;
}
div#inviteFriendsDiv button{
    padding: 10px 20px;
    background: #E3FECC;
    color: #143420;
    border: transparent;
    margin-right: 10px;
    font-size: 14px;
    font-weight: 600;
}
div#inviteFriendsDiv button{
    padding: 10px 20px;
    background: #E3FECC;
    color: #143420;
    border: transparent;
    margin-top: 10px;
}
